---
- name: Put SELinux in permissive mode, logging actions that would be blocked
  ansible.posix.selinux:
    policy: targeted
    state: disabled
  register: selinux_status
  when: ansible_facts['os_family'] | lower == "redhat"
  tags:
    - minimal

- name: Reboot host when SELinux status changes
  ansible.builtin.reboot:
    reboot_timeout: 600
  when: ansible_facts['os_family'] | lower == "redhat" and selinux_status.reboot_required
  tags:
    - minimal

- name: Include OS-specific variables.
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] | lower }}.yml"
        - "{{ ansible_facts['os_family'] | lower }}.yml"
      paths:
        - vars
  tags:
    - minimal

- name: Install CA certificate package
  ansible.builtin.package:
    name: ca-certificates
    state: present
  tags:
    - minimal

- name: Ensure custom certificate authority files are present
  ansible.builtin.copy:
    content: "{{ item.cert }}\n"
    dest: "{{ base_ca_path }}/{{ item.name }}"
    group: root
    mode: "0444"
    owner: root
  loop: "{{ base_certauth }}"
  notify: Update trusted certificate authorities
  tags:
    - minimal
  when:
    - base_certauth | length > 0
    - not ansible_check_mode   # (Bug ansible/ansible#65687)

- name: Include package manager specific tasks
  ansible.builtin.include_tasks: "pkg_{{ ansible_facts['pkg_mgr'] | lower }}.yml"
  tags:
    - minimal

- name: Ensure base packages are installed
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ base_packages }}"
  when: base_packages | length > 0

- name: Ensure additional packages are installed
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ base_packages_additional }}"
  when: base_packages_additional | length > 0

- name: Ensure custom profile scripts are present
  ansible.builtin.get_url:
    dest: "/etc/profile.d/{{ item.name }}"
    group: root
    mode: "0444"
    owner: root
    url: "{{ item.url }}"
  loop: "{{ base_profile_scripts }}"
  when:
    - base_profile_scripts | length > 0
    - not ansible_check_mode   # (Bug ansible/ansible#65687)

- name: Ensure time zone is configured
  ansible.builtin.include_tasks: timezone.yml
  tags:
    - minimal

- name: Ensure logging configuration is present
  ansible.builtin.include_tasks: logging.yml

- name: Include tasks for virtualized guests
  ansible.builtin.include_tasks: hypervisor.yml
  when:
    - ansible_facts['bios_version'] is match("Hyper-V UEFI") or
      ansible_facts['bios_vendor'] is match("SeaBIOS") or
      ansible_facts['bios_vendor'] is match("OVMF")

- name: Ensure sysctl is configured appropriately
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: true
  loop: "{{ base_sysctl }}"
  when: base_sysctl | length > 0

- name: Ensure OpenSSH is configured appropriately
  ansible.builtin.include_tasks: ssh.yml

- name: Ensure configured user accounts to password-less sudoers
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    regexp: '^{{ item }}'
    line: '{{ item }} ALL=(ALL) NOPASSWD: ALL'
    state: present
    validate: 'visudo -cf %s'
    mode: "0644"
  loop: "{{ base_sudoers_nopassword }}"
  when: base_sudoers_nopassword | length > 0

- name: Ensure configured user accounts are password-based sudoers
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    regexp: '^{{ item }}'
    line: '{{ item }} ALL=(ALL) ALL'
    state: present
    validate: 'visudo -cf %s'
    mode: "0644"
  with_items: "{{ base_sudoers_password }}"
  when: base_sudoers_password | length > 0

- name: Ensure all handlers run before continuing
  ansible.builtin.meta: flush_handlers
