---
- name: Ensure that the TZDATA package is present on Debian-based systems
  ansible.builtin.package:
    name: tzdata
    state: present
  when:
    - (ansible_facts['os_family'] | lower) == 'debian'

- name: Update timezone file if needed
  ansible.builtin.copy:
    content: "{{ base_timezone_name }}\n"
    dest: /etc/timezone
    owner: root
    group: root
    mode: "0644"
  tags:
    - minimal

- name: Ensure localtime file is not present
  ansible.builtin.file:
    path: /etc/localtime
    state: absent
  changed_when: false
  when: not ansible_check_mode
  tags:
    - minimal

- name: Reconfigure TZDATA on Debian-based systems
  ansible.builtin.command: dpkg-reconfigure --frontend noninteractive tzdata
  changed_when: false
  when:
    - not ansible_check_mode
    - (ansible_facts['os_family'] | lower) == 'debian'

- name: Ensure that the system is set to correct timezone
  community.general.timezone:
    name: "{{ base_timezone_name }}"
  tags:
    - minimal

- name: Remove other time synchronization packages if present
  ansible.builtin.package:
    name: "{{ item }}"
    state: absent
  with_items:
    - chrony

- name: Ensure that the systemd-timesyncd package is present
  ansible.builtin.package:
    name: "{{ base_ntp_package }}"
    state: present

- name: Configure time synchronization settings
  ansible.builtin.lineinfile:
    dest: /etc/systemd/timesyncd.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    insertafter: '\[Time\]'
    backrefs: true
    state: present
    mode: "0644"
  with_items:
    - regexp: '^\s*#?\s*(NTP=).*$'
      line: 'NTP={{ base_ntp_servers | join(" ") }}'
    - regexp: '^\s*#?\s*(ConnectionRetrySec=).*$'
      line: 'ConnectionRetrySec={{ base_ntp_connection_retry }}'
    - regexp: '^\s*#?\s*(RootDistanceMaxSec=).*$'
      line: 'RootDistanceMaxSec={{ base_ntp_root_distance_max }}'
    - regexp: '^\s*#?\s*(PollIntervalMinSec=).*$'
      line: 'PollIntervalMinSec={{ base_ntp_poll_interval_min }}'
    - regexp: '^\s*#?\s*(PollIntervalMaxSec=).*$'
      line: 'PollIntervalMaxSec={{ base_ntp_poll_interval_max }}'
  notify:
    - Restart timesyncd
